{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tabla.css' %}" >
        <div id="main-container">
            <div style="color: rgb(255, 253, 255);">
                <form action="" method="POST">{% csrf_token%}
                    <p>
                   
                        {{form}}
                        <input type="submit" value="Buscar">  
                    </p>
                        
                   
                        
                       
                    
                        
                
                </form>
            
            </div>
            

            <table>
               
                <caption>RESULTADOS TOTAL DE LAS ELECCIONES 2021</caption>
                <tr>
                    <th>LOGO</th>
                    <th>PARTIDO POLITICO</th>
                    <th>VOTOS</th>

                </tr>
                <tr>
                    <td><img src="{% static 'image/independiente.jpg' %}", width="100" height="100"></td>
                    <td>Jesus Abraham "chelo cano",Independiente </td>
                    <td>{{resultado_cano}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/morena.png' %}", width="100" height="100"></td>
                    <td>Oscar Enrique Ramos Mendez, Morena</td>
                    <td>{{resultado_oscar}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/PRD.png' %}", width="100" height="100"></td>
                    <td>Homero Yanes Ruiz,PRD</td>
                    <td>{{resultado_homero}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/PRI.png' %}", width="100" height="100"></td>
                    <td>Aurora Piñeda,PRI</td>
                    <td>{{resultado_aurora}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/PT.png' %}", width="100" height="100"></td>
                    <td>Joaquin Solis Mendez,PT</td>
                    <td>{{resultado_joaquin}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/OTROS.png' %}", width="100" height="100"></td>
                    <td>OTROS CANDIDATOS</td>
                    <td>{{total_otros}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/noregistrados.jpg' %}", width="100" height="100"></td>
                    <td>NO REGISTRADOS</td>
                    <td>{{total_no_registrado}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/nulo.png' %}", width="100" height="100"></td>
                    <td>VOTOS NULOS</td>
                    <td>{{total_nulos}}</td>
                </tr>
                <tr>
                    <td><img src="{% static 'image/votos.jpg' %}", width="100" height="100"></td>
                    <td>TOTAL DE VOTOS</td>
                    <td>{{total_votos}}</td>
                </tr>

                

            </table>
        </div>
{% endblock %}